
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bulk Inventory</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script>
        $(document).ready(function() {
            $('#bulkAdd').click(function() {
                var fileInput = $('#fileInput')[0];
                if (fileInput.files.length > 0) {
                    var formData = new FormData();
                    formData.append('file', fileInput.files[0]);

                    $.ajax({
                        url: '/bulk_add',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            alert('Bulk add successful!');
                        },
                        error: function(xhr, status, error) {
                            alert('Error: ' + error);
                        }
                    });
                } else {
                    alert('Please select a file first.');
                }
            });
        });
    </script>
</head>
  <body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <div class="logo">
                            <a href="/"><img src="/static/images/logo.png" alt="AutoQuote"></a>
                         </div>
                     </li>
                     <!-- <li><a href="/add_discount">Add Discount</a></li> -->
                    <li><a href="/add_inventory">Add Product</a></li>
                    <li><a href="/bulk_inventory">Bulk Add Product</a></li>
                    <!-- <li><a href="/BOQ_history">BOQ History</a></li> -->
                    <li><a href="/view_inventory">View Products</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <center>
          <div class="hero">
            <h3>Bulk Add</h3>
            <input type="file" id="fileInput"><br><br>
            <button class="btn" id="bulkAdd">Add</button>
        </div>
        </center>
    </main>
    <footer>
        <div>
            <p>&copy; 2024 AutoQuote. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>