<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h2>AutoQuote</h2>
        <nav>
            <a href="">About us</a>
			<a href="">Report an Issue</a>
			<a href="">Contact us</a>
        </nav>
    </header>
    <main>
        <div id="cashbook">
            <button id="add" onclick="window.location.href = '/add_inventory';">Add Product</button>
            <button id="view" onclick="window.location.href = '/view_inventory';">View Products</button>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 AutoQuote. All rights reserved.</p>
    </footer>
</body>
</html>